body {
    margin: 0;
    font-family: "Arial";
}

.header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}

.page {
    width:100%;
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.menu {
    width: 500%;
    color: white;
    background-color: red;
    height: 90vh;
    padding: 10px;
}

ul {
    text-decoration: underline;
    padding-left: 50px;
}

li {
    margin-top: 10px;
    list-style-type: none;
}

li:hover {
    background-color: green;
}

.text {
    padding: 20px;
    text-align: justify;
}

.text::selection {
    background-color: green;
    color: white;
}

span {
    color: red;
    font-size: 25px;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    clear: both;
    padding: 0.3em;

}